.form {
  width: 350px;
  padding: 16px 48px 32px;
  background-color: #FFFFFF;
  box-shadow: 0 0 10px rgba(0, 0, 0, .1);

  .main {
    display: flex;
    flex-direction: column;
    gap: 32px;

    .fields {
      display: flex;
      flex-direction: column;
      gap: 16px;
    }
  }

  .additional {
    margin-top: 32px;
    display: flex;
    justify-content: center;
  }
}