@import "src/styles/variables";

.header {
  display: flex;
  align-items: center;
  justify-content: center;
  height: $header-height;
  background: #FFF;

  .content {
    width: $content-width;

    .logo {
      font-family: 'Billabong', sans-serif;
      font-size: 38px;
      color: #000;
      text-decoration: none;
      user-select: none;
    }
  }


}