@import "src/styles/variables";

.header {
  display: flex;
  align-items: center;
  justify-content: center;
  height: $base-size * 8;
  background: #FFF;

  .content {
    width: $content-width;

    .logo {
      font-family: 'Billabong', sans-serif;
      font-size: 38px;
    }
  }


}